body {
  background-color: #2D3748;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transaction_item svg {

  width: 0;
  transform: translateX(-5px);
  opacity: 0;
  transition: all .3s ease-out;

}

.transaction_item:hover .delete_icon {


  width: 16px;
  transform: translateX(0);
  opacity: 1;

}
